exportPattern("^[[:alpha:]]+")
import(dplyr)
import(tidyr)
import(BEST)
import(parallel)
import(foreach)
import(R2jags)
import(lattice)
import(coda)
import(doParallel)
import(MetaIntegrator)
import(patchwork)
import(bayesplot)
import(ggplot2)
import(cowplot)
